/* ===== HERO ===== */
.contact-hero {
  background: linear-gradient(
    rgba(30,143,79,0.85),
    rgba(30,143,79,0.85)
  ),
  url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 80px 20px;
}

.contact-hero h1 {
  font-size: 40px;
}

.contact-hero p {
  margin-top: 10px;
  font-size: 18px;
}

/* ===== CONTAINER ===== */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 70px 50px;
}

.contact-info {
  background: #f4f7f6;
  padding: 40px;
  border-radius: 18px;
}

.contact-info h2 {
  color: #1e8f4f;
  margin-bottom: 15px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.contact-info li {
  margin-bottom: 10px;
  font-size: 16px;
}

/* ===== FORM ===== */
.contact-form {
  background: white;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

.contact-form h2 {
  margin-bottom: 25px;
  color: #1e8f4f;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.form-group textarea {
  height: 120px;
  resize: none;
}

.form-group small {
  color: red;
  display: none;
}

.contact-form button {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #1e8f4f;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #15723e;
}

#successMessage {
  margin-top: 15px;
  color: #1e8f4f;
  font-weight: bold;
  text-align: center;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

footer {
  background: #1e8f4f;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}